* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid thistle; */
}

body {
    background: repeating-linear-gradient(
    to right,
    rgb(221,227,109),
    #B5BDCA 120px,
    #B17693 50px,
    #B17693 60px);
    /* background-color: rgb(221,227,109);  #B5BDCA, #B17693*/
    /* background-color: rgb(44, 114, 143); */
}

/* ===== HOME PAGE ===== */

.header {
    text-align: center;
    margin-top: 30%;
}
/* to make home page not move when you expand the browser
.home-page {
    position: fixed;
    text-align: center;
} */
.home-page-text {
    line-height: 70px;
}
.home-page-text>h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 130px;
    color: rgb(54, 38, 38);
    text-shadow: 2px 2px #B5BDCA;
}
.weird {
    color: red;
    /* animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: 2; */
}
.home-page-text>h3 {
    font-family: 'Knewave', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    /* color: rgb(54, 38, 38); */
    /* rgb(155,79,221) */
    color: rgb(155,79,221);
}

@keyframes rainbow {
    0% { background: black; }
    10% { background: crimson; }
    25% { background: hotpink;}
    30% { background: coral;}
    40% { background: lightyellow; }
    50% { background: palegreen; }
    60% { background: mediumaquamarine; }
    75% { background: steelblue; }
    80% { background: darkviolet;}
    90% { background: black; }
    100% { background: ghostwhite; }
}

/* ===== INSTRUCTIONS MODAL ===== */

.instructions {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

.instructions-text {
    background-color: whitesmoke;
    height: 350px;
    width: 550px;
    border-radius: 12px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}

.instructions-text>h1 {
    padding: 12px;
    text-align: center;
}

.instructions-btn {
    text-align: right;
    padding-top: 20px;
}

.header-buttons {
    padding: 14px 18px;
    background-color: rgb(152, 171, 180);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: 2px solid rgb(30, 103, 151);
}
#lets-go {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: 100;
}

@keyframes blink {
    0% {background-color: rgb(94,194,201)}
    25% {background-color: rgb(112,157,183)}
    50% {background-color: rgb(94,194,201)}
    75% {background-color: rgb(112,157,183)}
    100% {background-color: rgb(94,194,201)}
}