* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid thistle; */
}

body {
    background: repeating-linear-gradient(
    to right,
    rgb(221,227,109),
    #B5BDCA 120px,
    #B17693 50px,
    #B17693 60px);
    /* background-color: rgb(221,227,109);  #B5BDCA, #B17693*/
    /* background-color: rgb(44, 114, 143); */
}

/* ===== HOME PAGE ===== */

.header {
    text-align: center;
    margin-top: 30%;
    /* position: relative; */
}
/* to make home page not move when you expand the browser */
/* .home-page {
    position: absolute;
    text-align: center;
} */
.home-page-text {
    line-height: 70px;
}
.home-page-text>h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 130px;
    color: rgb(54, 38, 38);
    text-shadow: 2px 2px #B5BDCA;
}
.weird {
    color: red;
}
.home-page-text>h3 {
    font-family: 'Knewave', cursive;
    letter-spacing: 2px;
    font-size: 30px;
    /* color: rgb(54, 38, 38); */
    /* rgb(155,79,221) */
    color: rgb(155,79,221);
}

/* ===== INSTRUCTIONS MODAL ===== */

.instructions {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.instructions-text {
    background-color: whitesmoke;
    height: 350px;
    width: 550px;
    border-radius: 12px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.instructions-text>h1 {
    padding: 12px;
    text-align: center;
}
.instructions-btn {
    text-align: right;
    padding-top: 20px;
}
.header-buttons {
    padding: 14px 18px;
    background-color: rgb(152, 171, 180);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: 2px solid rgb(30, 103, 151);
}
#lets-go {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: 100;
}
@keyframes blink {
    0% {background-color: rgb(87, 217, 226)}
    25% {background-color: rgb(112,157,183)}
    50% {background-color: rgb(87, 217, 226)}
    75% {background-color: rgb(112,157,183)}
    100% {background-color: rgb(87, 217, 226)}
}

/* ===== CATEGORIES PAGE ===== */

.main {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.category-page {
    background-color: whitesmoke;
    height: 500px;
    width: 650px;
    border-radius: 12px;
    border-style: double;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.category-page>h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Monoton', cursive;
    /* font-family: 'Fredericka the Great', cursive; */
}
.pick-category {
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
}
.tv-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.tv-movie>h2 {
    font-size: 35px;
    font-family: 'Cantora One', sans-serif;
    text-align: center;
}
.tv-movie-choices {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.music {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.music>h2 {
    font-size: 35px;
    font-family: 'Cantora One', sans-serif;
    text-align: center;
}
.music-choices {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}
.category-buttons {
    padding: 13px 10px;
    margin: 12px auto;
    background-color: rgb(102, 61, 112);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
    /* outline: 2px dashed rgb(192, 184, 184); */
}
.category-buttons:hover {
    /* background-color: rgb(223, 168, 236); */
    background-color: rgb(82, 189, 114);
}
.back-btn {
    text-align: left;
    padding: 6px;
    border-radius: 3px;
}

/* ===== THE OFFICE ===== */
.the-office {
    background-color: rgba(145, 141, 141, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.office-modal {
    background-color: whitesmoke;
    height: 530px;
    width: 700px;
    border-radius: 12px;
    border-style: double;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.office-modal>h1 {
    text-align: center;
    margin: 10px 0 0 15px;
}
.office-modal>h3 {
    text-align: center;
    margin: 20px auto;
}
.office-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.office-btns {
    /* display: flex;
    justify-content: space-around; */
    /* padding: 40px; */
    margin: 10px auto;
    cursor: pointer;
    height: 150px; 
    width: 220px; 
    border-radius: 10px;
    background-size: cover;
}
#jim {
    background-image: url("images/officejim.jpg");
}
#michael {
    background-image: url("images/officemichael.png");
}
#dwight {
    background-image: url("images/officedwight.jpg");
}
#chris {
    background-image: url("images/notoffice.jpg");
}

/* ===== MARVEL AVENGERS ===== */
.marvel-avengers {
    background-color: rgba(145, 141, 141, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.marvel-modal {
    background-color: whitesmoke;
    height: 530px;
    width: 700px;
    border-radius: 12px;
    border-style: double;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.marvel-modal>h1 {
    text-align: center;
    margin: 10px 0 0 15px;
}
.marvel-modal>h3 {
    text-align: center;
    margin: 20px auto;
}
.marvel-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.marvel-btns {
    margin: 10px auto;
    cursor: pointer;
    height: 150px; 
    width: 220px; 
    border-radius: 10px;
    background-size: cover;
}
#captain {
    background-image: url('images/marvelcaptain.jpg');
}
#ironman {
    background-image: url('images/marvelironman.jpg');
}
#blackpanther {
    background-image: url('images/marvelpanther.jpg');
}
#batman {
    background-image: url('images/notmarvel.jpg');
}

/* ===== FROZEN ===== */
.frozen-film {
    background-color: rgba(145, 141, 141, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.frozen-modal {
    background-color: whitesmoke;
    height: 530px;
    width: 700px;
    border-radius: 12px;
    border-style: double;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.frozen-modal>h1 {
    text-align: center;
    margin: 10px 0 0 15px;
}
.frozen-modal>h3 {
    text-align: center;
    margin: 20px auto;
}
.frozen-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.frozen-btns {
    margin: 10px auto;
    cursor: pointer;
    height: 150px; 
    width: 220px; 
    border-radius: 10px;
    background-size: cover;
}
#troll {
    background-image: url('images/frozentroll.png');
}
#tangled {
    background-image: url('images/notfrozen.jpg');
}
#anna {
    background-image: url('images/frozenanna.jpg');
}
#olaf {
    background-image: url('images/frozenolaf.jpg');
}

/* ===== BTS ===== */
.BTS-members {
    background-color: rgba(145, 141, 141, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.bts-modal {
    background-color: whitesmoke;
    height: 530px;
    width: 700px;
    border-radius: 12px;
    border-style: double;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 3%;
    line-height: 120%;
}
.bts-modal>h1 {
    text-align: center;
    margin: 10px 0 0 15px;
}
.bts-modal>h3 {
    text-align: center;
    margin: 20px auto;
}
.BTS-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.bts-btns {
    margin: 10px auto;
    cursor: pointer;
    height: 150px; 
    width: 220px; 
    border-radius: 10px;
    background-size: cover;
}
#jungkook {
    background-image: url('images/btsjungkook.jpg');
}
#v {
    background-image: url('images/btsv.jpg');
}
#sehun {
    background-image: url('images/notbts.jpg');
}
#jimin {
    background-image: url('images/btsjimin.jpg');
}